body{ 
    margin: 0;
    padding: 0;
    background-color: gray;
}

#etchContainer{
    background-color: white;
    display: grid;
    width: 50vw;
    height: 50vw;
    margin: auto;
    border: 2px red solid;
}

.etchSquare{
    border: 1px solid black;
}